

<div class="jumbotron">
  <h1>Hello Online Courses App</h1>
  <p>
    Welcome to one of the best online courses app in the world. With us, you will learn everything aboout
    programming languages and girls. It's amazing. Isn't it?
  </p>
</div>

